.layout {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;

    grid-gap: 0.5em;

    justify-items: stretch;
    align-items: stretch;
}

.item1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.item1 img {
    width: 100%;
}

.item3 {
    grid-column-start: 1;
    grid-row: 2 / 4;
    border: 1px solid black;
}

.item3 img {
    width: 100%;
}

.item4 {
    grid-column: 2 / 5;
}

.layout .item {
    background-color: #ddd;
    padding: 1em;
}

.layout .item:nth-child(odd) {
    background-color: #ccc;
}

/* 
.noticia-principal {
    grid-column: 1 / 3;
}

.noticia {
    background-color: #ddd;
}

.noticia img {
    width: 100%;
    border-radius: 10px;
} */