html, body{
    height: 100%;
}

body{
    margin: 0%;
}

.grid{
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 5fr 2fr;
}


header{
    background-color: rgb(48, 91, 18);
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items:center;
    /* box-shadow: 9px 7px 20px -10px rgba(0,0,0,0.6); */
}


/* header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    box-shadow: 9px 7px 20px -10px rgba(0,0,0,0.6);
}*/

header nav a {
    text-decoration: none;
    color: white;
}

aside{
    background-color: brown;
    grid-column: 4 / span 1;
    grid-row: 2 / span 5;
}

main{
    background-color: black;
    grid-column: 1 / span 3;
    grid-row: 2 / span 5;
}

.fotoPerfil {
    background-size: cover;
    max-width: 2000px;
    height: auto;
    width: 100%;
    align-self: center;
}


footer{
    background-color: blueviolet;
    grid-column: 1 / span 4;
    grid-row: 7 / span 2;
}