*{
    font-family: Arial, Helvetica, sans-serif;
    color: #4d1c1b;
}


html, body{
    height: 100%;
}

body{
    margin: 0%;
}

h2 {
    font-weight: bolder;
    color: #333317;
}

.grid{
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;


    justify-items: stretch;
    align-items: stretch;
}

@media (max-width: 800px){
    /* .grid {
        grid-template-columns: 99% 1%;
    } */
    aside {
        display: none;
        content-visibility: hidden;
    }
    main {
        /* width: 100%; */
        grid-column: 1 / 5;
    }
    footer {
        grid-column: 1 / 5;
        /* grid-row: 6 / span 1 ; */
    }
    .trocaDeFundo {
        width: 100%;
        height: 90px;
    }
}

@media (max-width: 400px){
    /* .grid {
        grid-template-columns: 1fr 0fr;
    } 
    .aside {
        display: none;
    }*/
      .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .fotoPerfil{
        width: 100%;
    }
    .ferramentas{
        width: 100%;
    }
    .habilidades{
        width: 100%;
    }
    .mini-intro{
        width: 100%;
    }
    .experiencia{
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
        width: 100%;
    }
    .texto-experiencia{
        width: 100%;
        padding: 0%;
    }
    .contato{
        width: 100%;
        padding: 0%;
    }
    .trocaDeFundo {
        width: 100%;
        height: 90px;
    }

}


header{
    background-color: rgb(48, 91, 18);
    grid-column: 1 / span 4;
    grid-row: 1 / 2;
    /* background-image: url(./images/backgroundHeader.png); */
    background-image: linear-gradient(to bottom, #99994573, 20%, #333317);
}


header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* box-shadow: 9px 7px 20px -10px rgba(0,0,0,0.6); */
}

header nav a {
    text-decoration: none;
    color: white;
    
}

aside {
    display: flex;
    flex-direction: column;
    background-color: #d9d962;
    grid-column: 4 / span 1;
    grid-row: 2 / span 5;
    text-align: justify;
    align-items: center;
    margin-left: 10px;
    padding: 10px 5px;
}

main {
    grid-column: 1 / span 3;
    grid-row: 2 / span 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    padding: 20px 15px;
    width: 100%;
    text-align: center;

}

#intro {
   display: flex; 
   flex-direction: column;
   flex-wrap: wrap;
   align-items: flex-start;
    /* justify-content: space-between ;*/
    width: 100%;
    padding: 10px;

}

.fotoPerfil {
    justify-content: flex-start;
    align-items: flex-start;
    background-size: auto;
    
     width: 50%;
    height: auto;
    max-width: 2000px;
    max-height: 1080px;

    /* vertical-align: baseline; */
}

.ferramentas {
    justify-content: flex-end;
    align-items: flex-start;
    background-size:auto;
    
    width: 50%;
    height: auto;
    max-width: 2000px;
    max-height: 1080px;
   
    vertical-align: baseline;
}
.mini-intro {
    justify-content: flex-end;
    align-items: flex-start;
    width: 35%;
    padding-right: 15%;
}

.habilidades {
    justify-content: flex-end;
    align-items: flex-end;
    width: 35%;  
}  

.trocaDeFundo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 60px;
    background-color: #594e24;
}

.trocaDeFundo h1{
    color: white;
}

.portfolio-photoshop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 100%;
    
}

.imgs {
    flex: content;
    justify-content: flex-start;
    background-size: cover;
    max-width: 250px;
    padding: 10px;
} 

.experiencia {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.texto-experiencia{
    justify-content: flex-start;
    text-align: justify;
    width: 45%;
    padding: 10px;
}

.contato{
    justify-content: flex-start;
    text-align: justify;
    width: 45%;
    padding: 10px;
}

.contato li {
    display: flex;
}   

footer {
    background-color: #999973;
    grid-column: 1 / span 4;
    grid-row: 6 / span 1;

    display: flex;
    justify-content: space-around;

}



/* Página de aquisição de clientes */


.paginaContato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 100%;

    padding: 20px 15px;
}

.esquerda {
    justify-content: flex-start;
    width: 100%;
}

.direita{
    justify-content: flex-end;
    width: 100%;
}