.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}

.container{
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.item{
    flex: 1;
    margin: 5px;
    background: red;
    text-align: center;
    font-size: 15pt;
}

h1{
    text-align: center;

}