.row {
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.colunm{
    flex-direction: column;
}

.colunm-reverse{
    flex-direction: column-reverse;
}

.container{
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid black;
}

.item{
    flex: 1;
    margin: 5px;
    background: red;
    text-align: center;
    font-size: 1.5em;
}

h1{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
}

body{
    font-family: monospace;
    color: #333;
}